.todo-main-cont{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 3px solid; */
}
.todo-label{
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 3px solid; */
}
.todo-body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  /* border: 3px solid; */
  width: 400px;
}
