.todo-container{
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-button{
    font: bold;
    font-size: 20px;
    background-color: black;
    color: wheat;
}
.todo-input{
    height: 30px;
}
.todo-container-form{
    display: flex;
    align-items: center;
    gap: 10px;
}