.todo-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.todo-button{
    font: bold;
    font-size: 20px;
    color: rgb(13, 13, 13);
}
.todo-input{
    height: 30px;
}
.todo-container-form{
    display: flex;
    align-items: center;
    gap: 10px;
}